/**
 * version: 1.0
 * author: wangchong
 * createTime: *
 * updateTime: *
 */

@charset 'utf-8';

@font-face {
  font-family: "DIN-Regular";
  src: url("./fonts/DIN-Regular-2.otf") format("opentype");
}
@font-face {
  font-family: "DIN-Regular";
  src: url("./fonts/DINPro-Bold.otf") format("opentype");
  font-weight: bold;
}
* {
  font-family: "DIN-Regular", "PingFang SC", Helvetica, Arial, sans-serif;
  outline: none;
}
html,
body {
  height: 100%;
  overflow: hidden;
  background: #fafafa;
}
a {
  text-decoration: none;
  color: #9d9d9d;
}
.wrapper-div {
  display: flex;
  margin: 0 auto;
  min-width: 0;
  max-width: 880px;
  height: 100%;
  flex-direction: row;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
}

/** SiderBar */
.side-div {
  width: 240px;
  overflow: auto;
  box-sizing: border-box;
  flex-shrink: 0;
}
.side-div .sideHeader-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 65px;
}
.side-div .nickname-span {
  font-size: 18px;
  font-weight: bold;
  color: #5f5f5f;
}
.nickname-span .name-label {
  display: inline-block;
  margin-right: 4px;
  font-size: 16px;
  cursor: pointer;
}
.nickname-span .pro-label {
  color: white;
  background: #9d9d9d;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  bottom: 2px;
  cursor: pointer;
  background: #212f4b;
}
.side-div .sideStat-div {
}
.sideStat-div .statView-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 16px;
  height: 44px;
}
.sideStat-div .gridView-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 16px;
  height: 126px;
}
.statView-div .statView-label {
  display: block;
  color: #9d9d9d;
}
.statView-div .label-count {
  line-height: 1;
  font-weight: bold;
  font-size: 24px;
}
.statView-div .label-type {
  line-height: 2;
  font-size: 12px;
}
.side-div ul.sideMenu-ul {
  color: #9d9d9d;
  font-size: 14px;
  list-style-type: none;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  margin: 18px 0;
}
.side-div ul.sideMenu-ul li {
  line-height: 36px;
  padding-left: 20px;
  cursor: pointer;
  text-align: -webkit-match-parent;
}
.side-div ul.sideMenu-ul li.selected-li {
  background: linear-gradient(96.15deg, #526efa 2.85%, #7a90ff), #fff;
  color: #ffffff;
  border-radius: 5px;
}
li svg {
  display: inline-block;
  margin-right: 6px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
h3 {
  font-size: 12px;
  color: #ded1b7;
  padding-left: 20px;
  margin: 20px 0 0;
}
ul.tag-ul {
  padding-left: 20px;
}
ul li.tag-li {
  position: relative;
  line-height: 36px;
  padding-left: 0;
  cursor: pointer;
  list-style: none;
}
ul.tag-ul li.tag-li:hover {
  background-color: #efefef;
}
ul.tag-ul li.tag-li span {
  line-height: 36px;
  cursor: pointer;
  text-align: -webkit-match-parent;
  color: #9d9d9d;
  font-size: 14px;
}
ul.tag-ul li.tag-li svg {
  position: absolute;
  top: 10px;
  right: 10px;
  color: grey;
}

/** Content */
.content-div {
  display: block;
  flex: 1;
  flex-basis: auto;
  overflow: auto;
  box-sizing: border-box;
}
.content-div figure {
  position: relative;
  margin: 14px 30px 20px 20px;
}
.content-div .send-btn {
  position: absolute;
  right: 6px;
  top: 56px;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid #dcdfe6;
  color: #ffffff;
  background: linear-gradient(96.15deg, #526efa 2.85%, #7a90ff), #fff;
  border-color: #637dff;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  padding: 9px 13px;
  font-size: 12px;
  border-radius: 4px;
  opacity: 0.5;
  cursor: not-allowed;
}
.content-div .send-btn-enable {
  opacity: 1;
  cursor: pointer;
}
.topbar-div {
  padding: 0 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
span.title-span {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #637dff;
}
span.ipt-span {
  display: inline-block;
  position: relative;
  font-size: 14px;
}
span.ipt-span .ipt-input {
  display: inline-block;
  padding: 0 30px;
  height: 40px;
  line-height: 40px;
  background: #efefef;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
  color: #606266;
  font-size: 12px;
  outline: 0;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

  -webkit-appearance: none;
}
span.ipt-span svg {
  position: absolute;
  top: 13px;
  left: 10px;
  color: #c0c4cc;
}
span.ipt-span svg.fa-clear {
  left: 160px;
  cursor: pointer;
}

/** Content memo */
.memoCard-div {
  margin-top: 10px;
}
.memoCard-div ol, .memoCard-div ul {
  padding-left: 20px;
}
.memoCard-div ol li, .memoCard-div ul li {
  line-height: 2;
}
.memoCard-div ul li{
  list-style: disc;
}
.memoCard-div > p {
  margin-top: 0.5em;
  margin-bottom: 0;
}
.memoCard-ul {
  display: flex;
  padding-left: 20px;
  padding-right: 30px;
  margin: 5px 0 5px;
  flex-direction: column;
  overflow-y: auto;
}
.memoCard-ul > li {
  position: relative;
  padding: 15px;
  margin-bottom: 10px;
  color: #323232;
  background: #ffffff;
  border-radius: 6px;
  list-style: none;
  font-size: 14px;
}
.memoCard-ul > li.memoCard-li-null {
  text-align: center;
  color: #9d9d9d;
}
.memoCard-ul > li:hover {
  box-shadow: 0px 2px 16px #dddddd;
}
.memoCard-ul li label.memoTime-label {
  display: block;
  font-size: 12px;
  color: #8f9193;
  text-decoration: none;
}
.memoCard-ul li label.operate-label {
  display: block;
  position: absolute;
  top: 10px;
  right: 6px;
  cursor: pointer;
  color: #8f8f8f;
}
.memoCard-ul li ul.operate-ul {
  position: absolute;
  right: -10px;
  padding: 0;
  width: 60px;
  border: 1px solid #ebeef5;
  border-radius: 5px;
  background-color: #fff;
  list-style: none;
}
.memoCard-ul li ul.operate-ul li {
  width: 100%;
  line-height: 30px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #7d7d7d;
  cursor: pointer;
}
.memoCard-ul li ul.operate-ul li:hover {
  background-color: #637dff;
  color: #fff;
}
.memoCard-ul li p.memoCard-div {
  margin: 0;
  line-height: 1.8;
  min-height: 20px;
  color: #323232;
  font-size: 14px;
}

/** quill reset */
.quill {
  max-height: 574px;
  background-color: #ffffff;
  overflow-y: auto;
}
.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border: 2px solid #e8e8e8;
}
.ql-toolbar.ql-snow {
  border-bottom: 0;
  border-radius: 8px 8px 0 0;
}
.ql-container.ql-snow {
  border-radius: 0 0 8px 8px;
}
.ql-editor.ql-blank::before {
  font-style: inherit;
}
.ql-snow .ql-stroke {
  stroke: #7d7d7d;
}

/** scrollbar */
::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border-radius: 100px !important;
}
::-webkit-scrollbar-track {
  background-color: transparent !important;
}
/** Toastify */
.Toastify__toast--success {
  background: linear-gradient(96.15deg, #526efa 2.85%, #7a90ff), #fff;
}
